@using App.Models

@model App.Models.Exposure

@{
    ViewBag.Title = "Exposure";
}

@*<div id="graphExposure">

    </div>*@

<div class="right_col" role="main">

    <h2>Console output</h2>

    @*<script>alert("this dialogue has been invoked through codebehind.");</script>*@
    @*<script>graphExposure('@(Model.Values)');</script>*@
    @*<script>graphExposure()</script>*@

    <pre>@Model.Time</pre>
    <pre>@Model.Values</pre>


    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Line Graph</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div id="exposure_graph_dynamic" style="height:350px;"></div>

            </div>
        </div>
    </div>
</div>

<script>

    $(function () {
        alert('You clicked ' + "me" + "!");
    });

</script>

